/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50; /* Warna biru gelap ala game malam */
    font-family: 'Press Start 2P', cursive; /* Font Pixel */
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.container {
    padding: 2rem;
    border: 4px solid white;
    box-shadow: 10px 10px 0px #000; /* Efek bayangan pixel kasar */
    background: #34495e;
}

h1 {
    font-size: 2rem;
    line-height: 1.5;
    color: #f1c40f; /* Kuning emas */
    text-shadow: 4px 4px #c0392b;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 0.8rem;
    color: #ecf0f1;
    margin-bottom: 40px;
}

.btn-start {
    display: inline-block;
    padding: 15px 30px;
    background-color: #2ecc71;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    border: 4px solid black;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.1s;
    animation: blink 1s infinite; /* Tombol kedip-kedip */
}

.btn-start:active {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px 0px #000;
}

/* Animasi Kedip */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

footer {
    margin-top: 30px;
    font-size: 0.6rem;
    color: #95a5a6;
}

/* --- Tambahan Buat Halaman Character --- */

.char-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom */
    gap: 20px;
    margin-bottom: 30px;
}

.char-card {
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.char-card:hover {
    transform: scale(1.1);
    background-color: #ecf0f1;
    color: black;
}

/* Kotak warna-warni pengganti foto sementara */
.pixel-placeholder {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px auto;
    border: 2px solid black;
}

.btn-back {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

/* Canvas Game */
canvas {
    border: 4px solid white;
    background-color: #70c5ce; /* Warna langit siang */
    display: block;
    margin: 0 auto;
}